# version: '3'

# services:
#   db:
#     image: postgres:15
#     container_name: familycart-db
#     environment:
#       POSTGRES_USER: myuser
#       POSTGRES_PASSWORD: mypassword
#       POSTGRES_DB: familycart
#     ports:
#       - "5432:5432"
#     volumes:
#       - db_data:/var/lib/postgresql/data

#   web:
#     build: .
#     command: python manage.py runserver 0.0.0.0:8000
#     volumes:
#       - .:/app
#     ports:
#       - "8000:8000"
#     depends_on:
#       - db
#     environment:
#       - DATABASE_HOST=db
#       - DATABASE_NAME=familycart
#       - DATABASE_USER=myuser
#       - DATABASE_PASSWORD=mypassword

# volumes:
#   db_data:
